@import './_variables.scss';
@import './_keyframes.scss';

@mixin bar-skill-fill ($width) {
    width: $width;
    height: 100%;
    background-color: #002f85;
}

@mixin div-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin exp-logo {
    border-radius: 50%;
    width: $exp-logo-height-width;
    height: $exp-logo-height-width;
}

@mixin desktop-l {
    @media (min-width: $width-desktop-l) {
        @content;
    }
}

@mixin desktop-s {
    @media (min-width: $width-desktop-s) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: $width-tablet-l) {
        @content;
    }
}

@mixin tablet-s {
    @media (min-width: $width-tablet-s) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $width-mobile) {
        @content;
    }
}