/* Variables */
$box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.15);
$color-bar-fill: #000000;
$disable-grey: #808080;
$exp-logo-height-width: 7rem;
$line-color: #dbdbdb;
$nav-link-padding: 0.2rem;
$nav-link-transition: 0.4s;
$nav-width: 50px;
$section-padding-offset-575: 10px;
$section-padding-offset-576: 25px;
$section-padding-offset-993: 100px;
$section-padding-offset-1100: 150px;
$section-padding-offset-1500: 250px;
$section-padding-top-bottom: 30px;
$skill-bg-grey: #ffffff;

$width-desktop-l: 1500px;
$width-desktop-s: 1100px;
$width-tablet-l: 993px;
$width-tablet-s: 576px;
$width-mobile: 575px;