<div id="div-header" class="cmd-anim cmd-title">
    <div class="cmd-line1">
        <p></p>
    </div>
    <div class="cmd-line2">
        <p></p>
    </div>
    <div class="cmd-line3">
        <p></p>
    </div>
</div>
<div id="div-about">
    <h1>About me.</h1>
    <p>
        I am a full-stack developer eager to provide efficient and optimized solutions for any problem. Currently interested in developing solutions on Amazon Web Services (which this site is built on!).
    </p>
    <div id="div-experience">
        <p>
            Here is a list of work experience I have had thus far:
        </p>
        @* 
            Need to provide circle of company image and then blurb as to what I did there.
        *@
    </div>
</div>
<div id="div-skills">
    
</div>
<div id="div-contact">
    @* 
        Create contact me form here    
    *@
</div>

@section Scripts {
    <script>
        $(function () {

            init();

            function init() {
                animateNextLine();
            }

            // Animate lines being typed
            function animateCmd(content, $element, callback, charPosition = 0, linePosition = 0) {
                let chopper = [];

                // chop lines
                chopper = content.split('');
                setTimeout(() => {
                    if (charPosition < content.length) {
                        let tempCmdLine = "";
                        for (var i = 0; i <= charPosition; i++) {
                            tempCmdLine = tempCmdLine + chopper[i];
                        }
                        $element.text(tempCmdLine);
                        charPosition++;
                        animateCmd(content, $element, callback, charPosition, linePosition);
                        $element.addClass("blink");
                    } else {
                        // callback
                        linePosition++;
                        $element.removeClass("blink");
                        callback(linePosition);
                    }
                }, 65);
            }

            // Find's which line to type out next. Callback / init func.
            function animateNextLine(linePos = 0) {
                var lines = [
                    ["> Hello world.", ".cmd-line1 p"],
                    ["> I'm Christian Reyes.", ".cmd-line2 p"],
                    ["> Full-stack web developer", ".cmd-line3 p"]
                ];

                if (linePos < lines.length) {
                    animateCmd(lines[linePos][0], $(lines[linePos][1]), animateNextLine, 0, linePos);
                } else {
                    linePos--;
                    $(lines[linePos][1]).addClass("blink");
                }
            }
        });
    </script>
}