<div class="cmd-title">
    <div class="cmd-line1">
        <p>&#x3e; Hello world.</p>
    </div>
    <div class="cmd-line2">
        <p>&#x3e; I'm <span>Christian Reyes</span>.</p>
    </div>
    <div class="cmd-line3">
        <p>&#x3e; Full-stack web developer_</p>
    </div>
</div>
