@using portfolio.Infrastructure.Models.PartialModels

<section id="section-header" class="cmd-anim cmd-title flex-center">
    <div class="cmd-line flex-center">
        <p class="cmd-line1">&nbsp;</p>
        <p class="cmd-line2">&nbsp;</p>
        <p class="cmd-line3">&nbsp;</p>
    </div>
</section>
<section id="section-about" class="bg-off-white">
    <h1 class="hide" animation="anim-left-right-fade">> About me</h1>
    <p class="hide section-content" animation="anim-fade-in">
        I'm a <span class="bold">full-stack developer</span> (60% backend / 40% frontend) based in <span class="bold">Brampton, ON.</span><br />
        I have a passion in providing <span class="bold">simple</span> and <span class="bold">efficient</span> solutions for any problem.
    </p>
    @*<p class="text-center">
            Here is a list of work experience I have had so far:
            If
            there was any mantra I'd follow it would have to be "efficiency in simplicity".
        </p>*@
    <div id="div-experience" class="hide" animation="anim-fade-in">
        <div class="exp-row flex-center">
            <div id="kubra-logo" class="exp-logo box-shadow">
                <a href="https://kubra.com" target="_blank"></a>
            </div>
            <div class="exp-summary">
                <p>
                    I worked at <span class="bold">KUBRA</span> as a <span class="bold">Programmer / Analyst</span>
                    where I delved deep in payment solutions and large amounts of data.
                    Due to working with <span class="bold">immense server and database loads</span>, I learned how best to <span class="bold">optimize</span> solutions for millions of users.
                    With that being said, I also made a lot of friends along the way-but more importantly-gained greater insight on how to create
                    <span class="bold">modular</span> and <span class="bold">robust</span> solutions using a slew of technology.
                </p>
            </div>
        </div>
        <div class="exp-connector">
        </div>
        <div class="exp-row flex-center">
            <div id="rd-logo" class="exp-logo box-shadow">
                <a href="https://richmondday.com" target="_blank"></a>
            </div>
            <div class="exp-summary">
                <p>
                    Working at <span class="bold">Richmond Day</span> as a <span class="bold">Web Developer</span> was quite challenging and rigorous,
                    but at the same time substantially rewarding. This was where I crafted solutions for <span class="bold">BMW, MINI, and LG</span> (just to new a few) from the ground up
                    in order to solve any problem provided (with quite literally any tech involved).
                    Some examples included systems that <span class="bold">collected payments, customer interaction tracking, display kiosks, and scheduling systems.</span>
                </p>
            </div>
        </div>
        <div class="exp-connector">
        </div>
        <div class="exp-row flex-center">
            <div id="remax-logo" class="exp-logo box-shadow">
                <a href="https://remax.com" target="_blank"></a>
            </div>
            <div class="exp-summary">
                <p>
                    I joined <span class="bold">RE/MAX</span> as a <span class="bold">Full Stack Developer</span> where I journeyed into full-time <span class="bold">Angular, AWS, and .NET Core</span> development.
                    With one of the most modular architecture designs I had the pleasure of working with, I was excited to get started solving
                    any problem I came across. I <span class="bold">optimized, fixed, and added new features</span> to remax.ca which <span class="bold">propelled additional views</span>
                    to the platform. However, due to the COVID-19 pandemic my time here was cut short.
                </p>
            </div>
        </div>
        <div class="exp-connector">
        </div>
        <div class="exp-row flex-center">
            <div id="ocas-logo" class="exp-logo box-shadow">
                <a href="https://www.ocas.ca/" target="_blank"></a>
            </div>
            <div class="exp-summary">
                <p>
                    I'm now working at <span class="bold">OCAS</span> as a <span class="bold">Full Stack Developer</span>, where I'm trying to make the world a better place!
                </p>
            </div>
        </div>
        @* Below is used for the line animation  *@
        <div class="exp-line-anim">

        </div>
    </div>
</section>
<section id="section-skills">
    <h1 class="hide" animation="anim-left-right-fade">> Skills</h1>
    @*<p class="section-content">
            I started with heavy backend development, but due to my own passion and curiosity I now develop for both the
            frontend (client side) and backend (server side).
        </p>*@
    <div class="skill-bars hide" animation="anim-fade-in">
        @{
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("C#", 90));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel(".NET/Core", 90));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("SQL Server", 80));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("JavaScript", 70));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("Angular", 50));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("HTML", 80));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("CSS/Sass", 70));
            await Html.RenderPartialAsync("_SkillBarPartial", new SkillPartialViewModel("AWS", 60));
        }
    </div>
</section>
@*<section id="section-contact" class="bg-light-grey">
        <h1>
            > Contact me
        </h1>
        <p class="section-content">
            Have a question or want to work together?
        </p>
    </section>*@

@section Scripts {
    <script src="~/js/animation.js"></script>
}