<section id="section-header" class="cmd-anim cmd-title">
    <div class="cmd-line1">
        <p></p>
    </div>
    <div class="cmd-line2">
        <p></p>
    </div>
    <div class="cmd-line3">
        <p></p>
    </div>
</section>
<section id="section-about" class="bg-off-white">
    <h1>About me.</h1>
    I am a full-stack developer (60% backend / 40% frontend) well-versed in providing efficient and optimized solutions for any problem. Currently interested in developing solutions on Amazon Web Services (which this site is built on).
    </p>
    <p>
        Here is a list of work experience I have had thus far:
    </p>
    <div id="div-experience">
        <div class="exp-row">
            <div id="kubra-logo" class="exp-logo box-shadow">
            </div>
            <div class="exp-summary">
                I worked at KUBRA as a Programmer / Analyst where I delved deep in commercial grade code. This is where I picked up blahblah
            </div>
        </div>
        <div class="exp-connector">
        </div>
        <div class="exp-row">
            <div id="rd-logo" class="exp-logo box-shadow">
            </div>
            <div class="exp-summary">
                I worked at Richmond Day as a Web Developer where I designed solutions for BMW, MINI, and LG (just to new a few) from the ground up.
                These included systems that collected payments, customer interaction tracking, display kiosks, scheduling systems, etc.
            </div>
        </div>
        <div class="exp-connector">
        </div>
        <div class="exp-row">
            <div id="remax-logo" class="exp-logo box-shadow">
            </div>
            <div class="exp-summary">
                I joined RE/MAX as a Full Stack Developer where I started my journey with Angular and AWS development
            </div>
        </div>
    </div>
</section>
<section id="section-skills">
    <h1>
        Skills.
    </h1>
    <p>
        The main area of my expertise is backend development (server side of the web).
        I've grown out of just backend development and now venture in both.
    </p>
</section>
<section id="section-contact" class="bg-light-grey">
    <h1>
        Contact me.
    </h1>
</section>

@section Scripts {
    <script>
        $(function () {

            init();

            function init() {
                animateNextLine();
            }

            // Animate lines being typed
            function animateCmd(content, $element, callback, charPosition = 0, linePosition = 0) {
                let chopper = [];

                // chop lines
                chopper = content.split('');
                setTimeout(() => {
                    if (charPosition < content.length) {
                        let tempCmdLine = "";
                        for (var i = 0; i <= charPosition; i++) {
                            tempCmdLine = tempCmdLine + chopper[i];
                        }
                        $element.text(tempCmdLine);
                        charPosition++;
                        animateCmd(content, $element, callback, charPosition, linePosition);
                        $element.addClass("blink");
                    } else {
                        // callback
                        linePosition++;
                        $element.removeClass("blink");
                        callback(linePosition);
                    }
                }, 65);
            }

            // Find's which line to type out next. Callback / init func.
            function animateNextLine(linePos = 0) {
                var lines = [
                    ["> Hello world.", ".cmd-line1 p"],
                    ["> I'm Christian Reyes.", ".cmd-line2 p"],
                    ["> Full-stack web developer", ".cmd-line3 p"]
                ];

                if (linePos < lines.length) {
                    animateCmd(lines[linePos][0], $(lines[linePos][1]), animateNextLine, 0, linePos);
                } else {
                    linePos--;
                    $(lines[linePos][1]).addClass("blink");
                }
            }
        });
    </script>
}